* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.container {
  width: 100%;
  padding: 20px;
  align-items: center;
  align-content: center;
}

.form {
  background: white;
  padding: 35px;
  width: 400px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Title */
.form h2 {
  text-align: center;
  margin-bottom: 5px;
}

.h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: gray;
  margin-bottom: 25px;
}

/* Two column layout */
.row {
  display: flex;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  width: 100%;
}

.field label {
  font-weight: bold;
  margin-bottom: 6px;
  color: #333;
}

.field input {
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.field input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
  outline: none;
}

.field small {
  font-size: 12px;
  color: gray;
  margin-top: 4px;
}

/* Button */
.save-btn {
  width: 100%;
  padding: 13px;
  background: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background: #0056b3;
}

/* Login text */
.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.registration-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.registration-link a {
  color: #007bff;
  text-decoration: none;
}

.registration-link a:hover {
  text-decoration: underline;
}


.forgetpassword-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.forgetpassword-link a {
  color: #007bff;
  text-decoration: none;
}

.fogetpassword-link a:hover {
  text-decoration: underline;
}
/* Responsive */
@media (max-width: 600px) {
  .row {
      flex-direction: column;
  }
}



/*modal code*/

/* Hide modal by default */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

/* Show modal when targeted */
.modal-overlay:target {
  display: flex;
}

/* Modal box */
.modal-box {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 8px;
  position: relative;
}

/* Close button */
.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  text-decoration: none;
  font-size: 22px;
  color: black;
}

/* Open button styling */
.open-modal-btn {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Make modal form match main form */
.modal-box .form {
  box-shadow: none;
  padding: 0;
  width: 100%;
}

/* Center modal text nicely */
.modal-box h2 {
  text-align: center;
  margin-bottom: 5px;
}

/* Center modal text nicely */
.h3 {
  text-align: center;
  margin-bottom: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  width: 100%;
  text-align: center;
}

.field label {
  font-weight: bold;
  margin-bottom: 6px;
  color: #333;
  text-align: center;
}

.field input {
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
  text-align: center;
}

.field input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
  outline: none;
  text-align: center;
}

.field small {
  font-size: 12px;
  color: gray;
  margin-top: 4px;
  text-align: center;
}

/* Timer text */
.timer-text {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin-bottom: 10px;
}

/* Timer bar */
.timer-bar {
  height: 6px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.timer-bar::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #007bff;
  animation: otpCountdown 60s linear forwards;
}

/* Disable OTP submit initially */
.modal-overlay:target .otp-btn {
  pointer-events: none;
  opacity: 0.5;
  animation: enableOtpBtn 0s linear 60s forwards;
}

/* Hide resend button initially */
.resend-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #28a745;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: none;
}

/* Show resend after 60 seconds */
.modal-overlay:target .resend-btn {
  animation: showResend 0s linear 60s forwards;
}

/* Animations */
@keyframes otpCountdown {
  from { width: 100%; }
  to { width: 0%; }
}

@keyframes enableOtpBtn {
  to {
    pointer-events: auto;
    opacity: 1;
  }
}

@keyframes showResend {
  to {
    display: block;
  }
}

/*Login*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.container {
  border-radius: 10px;
  box-shadow: 0 0 20px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  width: 80%;
  min-width: 540px;
  padding: 10%;
}

/* LOGIN PANEL */

.login-box {
 width: auto;
  
    }

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.logo span {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.login-box h2 {
    font-weight: 800px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 35px;
}

.login-box p {
    font-size: 15px;
    color: #888;
    margin-bottom: 25px;
    text-align: center;
}

/* INPUT */

.input-group {
    margin-bottom: 15px;
    position: relative;
    border-radius: 15px;
}

.input-group label {
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    border: 1px solid #bababa;
    outline: none;
    margin-bottom: 15px;
}

/* Eye Icon */
.toggle-password {
    position: absolute;
    right: 12px;
    top: 38px;
    cursor: pointer;
    color: #888;
}

/* OPTIONS */

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin: 12px 0;
}

.options a {
    text-decoration: none;
    color: #4b5cff;
}

.signin {
    width: 100%;
    padding: 13px;
    border: none;
    background: #292b3c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 25px;
}

.google-btn {
    width: 100%;
    padding: 11px;
    margin-top: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    align-items: center;
    align-content: center;
    margin-bottom: 25px;
   
}

.forget-password-btn {
  width: 32%;
  padding: 11px;
  margin-top: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  align-items: center;
  align-content: center;
}

.forget-password-text a{
  color: #333;
}
.signup {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

.signup a {
    color: #4b5cff;
    text-decoration: none;
}

/* RIGHT DASHBOARD PANEL */



/* Responsive */

/*@media(max-width:800px) {
    .container {
        grid-template-columns: 1fr;
        height: auto;
    }
}

/*Registration*/



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}



/*.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:900px;
    height:620px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* ===== REGISTRATION PANEL ===== */

.registration-box{
    padding:45px 40px;
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:25px;
}

.registration-box h2{
    font-weight:600;
    margin-bottom:6px;
}

.registration-box p{
    font-size:13px;
    color:#888;
    margin-bottom:25px;
}

/* INPUT */

.input-group{
  
    position:relative;
}

.input-group label{
    font-size:13px;
    display:block;
    margin-bottom:5px;
}

.input-group input{
    width:100%;
    padding:12px;
    border-radius:6px;
    border:1px solid #ddd;
}

/* Password Icon */

.toggle-password{
    position:absolute;
    right:12px;
    top:38px;
    cursor:pointer;
    color:#888;
}

/* BUTTONS */

.create-btn{
    width:100%;
    padding:13px;
    border:none;
    background:#4b5cff;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-weight:500;
    margin-top:10px;
}


.signup{
    text-align:center;
    font-size:13px;
    margin-top:20px;
}

.signup a{
    color:#4b5cff;
    text-decoration:none;
}

/* ===== RIGHT PANEL ===== */

.right-panel{
    background:linear-gradient(135deg,#3f4cdd,#5d74ff);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.dashboard-card{
    background:white;
    border-radius:10px;
    padding:20px;
    width:240px;
    color:black;
    margin-bottom:30px;
}

.center-text h3{
    margin-bottom:8px;
}

.dots{
    margin-top:25px;
}

.dot{
    width:8px;
    height:8px;
    background:#cfd5ff;
    border-radius:50%;
    display:inline-block;
    margin:0 4px;
}

.dot.active{
    background:white;
}

/* Responsive */

@media(max-width:800px){
    .container{
        grid-template-columns:1fr;
        height:auto;
    }
}

/*password reset*/


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}


.container{
  width:420px;
  background:white;
  padding:45px 40px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* Headings */

h2{
  font-weight:600;
  margin-bottom:6px;
}

.subtitle{
  font-size:13px;
  color:#888;
  margin-bottom:25px;
}

/* Inputs */

.field{
  margin-bottom:15px;
  position:relative;
}

.field label{
  font-size:13px;
  display:block;
  margin-bottom:5px;
}

.field input{
  width:100%;
  padding:12px;
  border-radius:6px;
  border:1px solid #ddd;
}

/* Password Toggle */

.toggle-password{
  position:absolute;
  right:12px;
  top:38px;
  cursor:pointer;
  color:#888;
}

/* Buttons */

.save-btn{
  width:100%;
  padding:13px;
  border:none;
  background:#4b5cff;
  color:white;
  border-radius:6px;
  cursor:pointer;
  font-weight:500;
  margin-top:10px;
}

.back-link{
  display:block;
  text-align:center;
  margin-top:20px;
  font-size:13px;
}

.back-link a{
  text-decoration:none;
  color:#4b5cff;
}

small{
  font-size:11px;
  color:#888;
}

/*verification*/


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#f5f7fb;
  display:flex;
  justify-content:center;
  align-items:center;
  height:120vh;
}

.container{
  width:420px;
  background:white;
  padding:45px 40px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* Header */

h2{
  font-weight:600;
  margin-bottom:6px;
}

.subtitle{
  font-size:13px;
  color:#888;
  margin-bottom:20px;
}

.timer-text{
  font-size:12px;
  color:#999;
  margin-bottom:10px;
}

/* Timer Bar */

.timer-bar{
  height:6px;
  width:100%;
  background:#e6e9ff;
  border-radius:6px;
  overflow:hidden;
  margin-bottom:25px;
}

.timer-progress{
  height:100%;
  width:100%;
  background:#4b5cff;
  animation: countdown 60s linear forwards;
}

@keyframes countdown{
  from{width:100%;}
  to{width:0%;}
}

/* Input */

.field{
  margin-bottom:15px;
}

.field label{
  font-size:13px;
  display:block;
  margin-bottom:5px;
}

.field input{
  width:100%;
  padding:12px;
  border-radius:6px;
  border:1px solid #ddd;
}

/* Buttons */

.save-btn{
  width:100%;
  padding:13px;
  border:none;
  background:#4b5cff;
  color:white;
  border-radius:6px;
  cursor:pointer;
  font-weight:500;
  margin-top:10px;
}

.resend-btn{
  width:100%;
  padding:12px;
  border:1px solid #ddd;
  background:white;
  border-radius:6px;
  cursor:pointer;
  margin-top:10px;
}

.back-link{
  display:block;
  text-align:center;
  margin-top:20px;
  font-size:13px;
}

.back-link a{
  text-decoration:none;
  color:#4b5cff;
}

/*forget password*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}



.container{
  width:420px;
  background:white;
  padding:45px 40px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* Header */

h2{
  font-weight:600;
  margin-bottom:6px;
}

.subtitle{
  font-size:13px;
  color:#888;
  margin-bottom:25px;
}

/* Inputs */

.field{
  margin-bottom:15px;
}

.field label{
  font-size:13px;
  display:block;
  margin-bottom:5px;
}

.field input{
  width:100%;
  padding:12px;
  border-radius:6px;
  border:1px solid #ddd;
}

/* Buttons */

.save-btn{
  width:100%;
  padding:13px;
  border:none;
  background:#4b5cff;
  color:white;
  border-radius:6px;
  cursor:pointer;
  font-weight:500;
  margin-top:10px;
}

.resend-btn{
  width:100%;
  padding:12px;
  border:1px solid #ddd;
  background:white;
  border-radius:6px;
  cursor:pointer;
  margin-top:10px;
}

.back-link{
  display:block;
  text-align:center;
  margin-top:20px;
  font-size:13px;
}

.back-link a{
  text-decoration:none;
  color:#4b5cff;
}

/* OTP Section */

#otp-section{
  display:none;
  margin-top:25px;
}

.timer-text{
  font-size:12px;
  color:#999;
  margin-bottom:10px;
}


.form-divider{
  position: relative;
  margin-bottom: 15px;
}
.text-center{
  text-align: center;
  margin-bottom: 15px;
}
.line::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20%;
  height: 1px;
  background-color: rgb(190, 190, 190);
}

.line::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20%;
  height: 1px;
  background-color: rgb(190, 190, 190);
}


.social-login{
  display: flex;
  justify-content: center;
  gap: 20px;
}



/*
Source - https://stackoverflow.com/a/72447647
Posted by Sanan Ali
Retrieved 2026-04-22, License - CC BY-SA 4.0
*/

.rounded-checkbox {
  width:15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: rgb(0, 0, 0);
}

.input-group1{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
    position: relative;
    border-radius: 15px;
}



.social-btn{flex:1;padding:.65rem;background:white;border:1.5px solid rgba(0,0,0,.08);border-radius:var(--radius-sm);cursor:pointer;display:flex;align-items:center;justify-content:center;gap:8px;font-family:'DM Sans',sans-serif;font-size:.88rem;font-weight:500;color:var(--text-primary);transition:all .2s;}
